<footer class="container">
    <div class="row">
        <div class="col-lg-8">
            <p>Copyright &copy; spacemonkeythe 2014</p>
        </div>
        <nav class="pull-right col-lg-4">
          <ul>
            <li><%= link_to "About Me", about_path %></li>
            <li><%= link_to "Contact Me", contact_path %></li>
            <li><%= link_to "News", "http://news.railstutorial.org/" %></li>
          </ul>
        </nav>
    </div>
</footer>