<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to "TDD/demo-app", "#", id: "logo", class: "navbar-brand" %>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><%= link_to "About Me", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
        </ul>
    </div>
  </div>
</nav>